# Routing all traffic to project directory
RewriteEngine on
RewriteCond %{REQUEST_URI} !apps/app
RewriteRule (.*) apps/app/$1 [L]

# Include path for localhost
php_value include_path ".:/Library/WebServer/Documents/api.stocks.venny.io/app:/Library/WebServer/Documents/api.stocks.venny.io/vendor:"

# keeps root directory file paths hidden
Options -Indexes
